@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?37528379");
  src: url("../fonts/fontello.eot?37528379#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?37528379") format("woff2"), url("../fonts/fontello.woff?37528379") format("woff"), url("../fonts/fontello.ttf?37528379") format("truetype"), url("../fonts/fontello.svg?37528379#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?37528379#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-menu:before {
  content: '\f0c9'; }

/* 'ïƒ‰' */
html {
  font-size: 10px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

.navbar {
  background-color: #fff;
  padding: 0;
  margin-bottom: 4.5rem; }
  .navbar-brand {
    padding: 0;
    margin: 0; }
  .navbar-toggler {
    border: none; }
    .navbar-toggler-icon {
      height: 4rem;
      width: 4rem; }
  .navbar .nav-link {
    font-size: 2.4rem; }
  .navbar .nav-btn {
    border: none;
    background-color: transparent; }

.stocks_title p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: normal; }

.stocks {
  margin-bottom: 4.5rem; }
  .stocks__main img {
    width: 100%;
    max-height: 330px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 3px solid #FFB612; }
  .stocks__thumb img {
    margin-bottom: 4.5px;
    width: 100%;
    max-height: 107px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 3px solid #FFB612; }
  .stocks__thumb li {
    list-style: none; }

.popular-product__title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: normal; }

.swiper-container {
  margin-bottom: 45px;
  width: 100%;
  height: 100%; }

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.swipe {
  margin: 10px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #fff no-repeat center center; }

.swipe .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.swipe img {
  display: block;
  position: relative; }

.swipe h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 1.7rem;
  padding: 1rem;
  margin: 2rem 0 0 0; }

.swipe p {
  font-style: italic;
  font-size: 1.4rem;
  position: relative;
  color: #fff;
  padding: 0px 2rem 0px;
  text-align: center; }

.swipe a.info {
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 0.1rem #000;
          box-shadow: 0 0 0.1rem #000; }

.swipe a.info:hover {
  -webkit-box-shadow: 0 0 0.5rem #000;
          box-shadow: 0 0 0.5rem #000; }

.swiper-slide img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 100%;
  height: auto; }

.swiper-slide .mask {
  opacity: 0;
  background-color: rgba(255, 182, 18, 0.6);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.swiper-slide h2 {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
  font-family: Raleway, serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.swiper-slide p {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.swiper-slide a.info {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

/* */
.swiper-slide:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.swiper-slide:hover .mask {
  opacity: 1; }

.swiper-slide:hover h2,
.swiper-slide:hover p,
.swiper-slide:hover a.info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.swiper-slide:hover p {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.swiper-slide:hover a.info {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }

.product {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .product__item {
    text-align: center;
    width: 300px;
    height: auto;
    margin-bottom: 2.5rem; }
    .product__item img {
      width: 100%; }
    .product__item h2 {
      text-transform: uppercase;
      font-size: 1.7rem;
      color: #000;
      margin-top: 1rem; }
    .product__item a {
      color: #fff;
      font-size: 1.4rem;
      display: block;
      margin: 0 auto;
      padding-top: 4px;
      border-radius: 30px;
      width: 60%;
      height: 30px;
      background-color: #FFB612; }

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px; }
  .address__wrapper {
    padding: 0; }
  .address__title {
    margin-bottom: 3rem;
    font-size: 36px;
    font-weight: normal; }
  .address__city {
    margin-bottom: 2rem;
    font-size: 24px;
    font-weight: normal; }
  .address__subtitle {
    font-size: 24px;
    font-weight: lighter;
    color: #727272; }
  .address__map {
    width: 100%;
    padding: 0px; }
    .address__map iframe {
      width: 100%;
      max-height: 200px; }

.main-footer {
  height: 12rem;
  width: 100%;
  background-color: #C1C1C1; }

@media (max-width: 991px) {
  .stocks__main img {
    height: 258px; }

  .swipe p {
    display: none; } }
@media (max-width: 767px) {
  .stocks__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .stocks__thumb img {
      margin-bottom: 20px;
      width: 110.5px; }

  .popular-product__title {
    text-align: center; }

  .swiper-container {
    display: none; }

  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    .address__city {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
