@media (max-width: 991px){
.stocks{
	&__main{
		img{
			height: 258px;
		}
	}
}
.swipe p{
	display: none;
}
}


@media (max-width: 767px){
.stocks{
	&__thumb{
		display: flex;
		img{
			margin-bottom: 20px;
			width: 110.5px;
		}
	}
}

.popular-product__title{
	text-align: center;
}

.swiper-container{
	display: none;
}

.product{
	display: flex;
}

.address{
	flex-direction: column;
	text-align: center;
	&__city{
		justify-content: center;
	}
}
}
